@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
* {
    font-family: "Libre Baskerville", serif;
}

.navbar-brand img {
    width: 2.5rem;
    height: auto;
}

#carouselExampleCaptions .carousel-inner .carousel-item img {
    height: 75vh;
}